.alt-item {
  margin: 1px;
}
.alt-span {
  text-align: center;
}
.button {
  float: right;
}
/* css modules are defined using .module.css syntax 
it helps in creating component specific styles and
automatically generates unique class names to resolve
confusion (suppose if we have two css modules having class selectors with same name) */
